section.hero .content h1{
	color: var(--alt);
}

.content .loading-playlists{
	margin: 25px auto 0;
}
section.hero .content .select-playlist{
	text-align: left;
}
section.hero .content .select-playlist h2{
	margin-bottom: 5px;
}

section.hero .content .select-playlist .button{
	margin-top: 4rem;
	width: 100%;
}