.search{
	width: 100%;
}

.search label{
	width: 100%;
}
.search .icon{
	--iconWidth: 26.235px;
	width: var(--iconWidth);
	position: absolute;
	cursor: pointer;
	margin: -2.5rem 0 0 calc(50% - calc(var(--iconWidth) / 2));

	transition: margin-left 150ms ease-in-out;
}
.search input{
	display: block;
	position: static;
	width: 100%;
	background: var(--third);

	border: none;
	outline: none;

	font-size: 1rem;
	padding: 1rem;
	color: var(--text);
}
.search input:focus ~ .icon{
	margin-left: 1rem;
	margin-right: auto;
}
.search input:focus{
	padding-left: 3rem;
}