ul.list{
	padding: 0;
	margin: 0 0 40px 0;
	list-style: none;

	background: var(--background);
	border-radius: 4px;
	box-shadow: 0 3px 6px var(--shadow);
}

.list li{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: .8rem 1rem;


	cursor: pointer;
}
.list li .column{
	display: flex;
	flex-direction: column;
}
.list li .column.cover{
	margin-right: 15px;
}
.list li .column.cover img{
	/* width: 42px; */
	height: 39px;
}
.list li .column .name{
	font-size: 1rem;
	font-weight: bold;

	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	margin-bottom: 4px;
}
.list li .column .meta{
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: lighter;
	font-size: .8rem;
}
.list li .column.add{
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.list li .column.add .track-add-load{
	border-width: 3px;
	width: 22px;
	height: 22px;
	margin: 0 auto;
}

.list li .column.add .options{
	position: relative;
}
.list li .column.add .options .options__buttonMore{
	cursor: pointer;
}
.list li .column.add .options__more{
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	top: -55px;
	right: -15px;
	background: var(--secondary);
	border-radius: 4px;

	padding: .5rem;
	width: 100px;
}
.list li .column.add .options__more--closed{
	display: none;
}
.list li .column.add .options__more--open::before{
	content: "";
	position: absolute;
	background: var(--secondary);
	width: 20px;
	height: 20px;
	border-radius: 4px;
	bottom: -10px;
	right: 17px;

	transform: rotate(45deg);
}
.list li .column.add .options__action{
	cursor: pointer;
}

.list li.track.track--removing{
	opacity: .5;
}

.empty{
	font-size: 1.2rem;
	display: block;
	width: 100%;

	text-align: center;
}