.settings{
	padding-bottom: 4rem;
}

.settings__code__display{
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	background: var(--secondary);
	padding: .5rem;
	font-size: 3rem;
	color: var(--alt);
	text-align: center;
	font-family: "Poppins", Verdana, sans-serif;
	font-weight: bold;

	border-radius: 4px;
}
.settings__code__share{
	margin-left: 30px;
}

button.filled.settings__fallbackPlaylist__button{
	margin-top: 1rem;
}
button.outlined.settings__party__button,
button.filled.settings__fallbackPlaylist__button{
	font-size: 1rem;
	padding: .6rem 1.4rem;
}
button.outlined.settings__party__button--deactivate{
	color: var(--error);
	border-color: var(--error);
}